* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/**block page-banner**/
.page-container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.banner {
  display: flex;
  justify-content: center;
}

.banner__content {
  font-size: 1rem;
}
/**block page-header**/
.page-header {
  display: flex;
  gap: 2.5rem;
}

.nav-menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 5rem;
}

.nav-menu-list__item {
  list-style: none;
  color: black;
  letter-spacing: 1px;
  cursor: pointer;
}
.nav-menu-list__item:hover {
  background-color: rgb(198, 237, 237);
}

.page-header-navigation {
  width: 100%;
}

.nav-menu {
  width: 100%;
}

.logbtn {
  color: black;
  background-color: white;
  border: none;
  width: 80px;
}
.signup-btn {
  color: white;
  background-color: black;
  width: 150px;
}
/* sidebar*/

.sidebar-header {
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar-page-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar-page-links__item {
  list-style: none;
  color: #b1b3b1;
  font-size: 14px;
  cursor: pointer;
}
.sidebar-page-links__item:hover {
  background-color: rgb(247, 219, 219);
}
/*sidebar-links*/
.sidebar-links-menu__item {
  list-style: disc;
  color: #b1b3b1;
  font-size: 14px;
  cursor: pointer;
}
.sidebar-links-menu__item:hover {
  background-color: rgb(198, 237, 237);
}
.sidebar-links-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*main*/
.page-main {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0, 15rem) minmax(0, 30rem) minmax(0, 15rem);
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 2rem;
}

.main-content {
  width: 100%;
}

.main-content-section {
  font-size: 16px;
}
/*footer*/
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12rem;
  border-bottom: 2px green;
}
.footer-moz {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.footer-rights {
  font-size: 12px;
  color: #b1b3b1;
}

.footer-nav-header {
  text-align: left;
  color: #b1b3b1;
  font-size: 18px;
}

.footer-nav-list__item {
  list-style: none;
  color: #b1b3b1;
  font-size: 14px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.list {
  margin: 0;
  padding: 0;
}



.footer-moz-list {
  display: flex;
  gap: 1rem;
}

.footer-moz-link {
  cursor: pointer;
  color: #b1b3b1;
}

.footer-moz-list__item {
  list-style: none;
  font-size: 12px;
}



.footer-socials__links {
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.footer-socials-icons {
  list-style: none;
}
.footer-icons {
  width: 50px;
  height: 50px;
}
